.notification {
  position: fixed;
  width: 300px;
  padding: 1rem;
  min-height: 100px;
  left: calc(100% - 300px - 1rem);
  top: 1rem;
  z-index: 200;
  border-radius: var(--border-radius);
}

.notification > h5 {
  font-weight: 700;
}

.notification > p {
  margin-top: 1rem;
}
.notification-error {
  background-color: rgb(239 64 60);
}

.notification-success {
  background-color: var(--light-green);
}

@media screen and (max-width: 425px) {
  .notification {
    width: calc(100% - 2rem);
    min-height: 100px;
    left: 1rem;
    top: 1rem;
  }
}
