@import url('./reset.css');

:root {
  font-family: Poppins, system-ui, Arial, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5rem;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --light-green: rgb(42, 221, 80);
  --border-radius: 10px;
  --currency-card-bg: rgb(32, 32, 37);
  --symbol-bg: rgb(20, 46, 103);
}

html,
body,
#root {
  height: 100%;
}

body {
  overflow-y: scroll;
}
* {
  box-sizing: border-box;
  transition-property: color, background-color;
  transition-duration: 0.1s;
  transition-timing-function: linear;
}

body {
  box-sizing: border-box;
  background-color: var(--bg);
  color: var(--font-color-main);
}

body.theme-dark {
  --bg: rgb(3, 3, 4);
  --font-color-main: rgb(255, 255, 255);
  --font-color-dark1: rgb(217, 217, 217);
  --font-color-dark2: rgb(137, 137, 137);
  --input-bg: rgb(43, 43, 49);
  --currency-card-bg: rgb(32, 32, 37);
  --currency-card-bg-hover: rgb(65, 65, 73);
  --symbol-bg: rgb(20, 46, 103);
  --modal-bg: rgb(70, 70, 82, 0.5);
}

body.theme-light {
  --bg: rgb(255, 255, 255);
  --font-color-main: rgb(19, 16, 16);
  --font-color-dark1: rgb(53, 45, 45);
  --font-color-dark2: rgb(172, 169, 169);
  --input-bg: rgb(238, 238, 240);
  --currency-card-bg: rgba(187, 235, 182, 0.384);
  --currency-card-bg-hover: rgba(166, 209, 161, 0.61);
  --symbol-bg: rgb(38, 89, 199);
  --modal-bg: rgb(197, 197, 197, 0.5);
}

.gradient-text {
  background: linear-gradient(90deg, rgb(0, 206, 44) 0.18%, rgb(174, 223, 35) 49.3%, rgb(163, 220, 0) 99.88%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.chart-label-color {
  fill: var(--font-color-main) !important;
}

input,
select {
  outline: none;
  border-radius: var(--border-radius);
  background-color: var(--input-bg);
  color: var(--font-color-main);
  font-size: 0.75rem;
  font-family: inherit;
  border: none;
  padding: 3px;
}

select,
input[type='date']::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

a,
li {
  text-decoration: none;
  color: var(--font-color-main);
}

nav a.active {
  color: var(--light-green);
}

@media screen and (max-width: 1024px) {
  :root {
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  :root {
    font-size: 16px;
  }
}

@media screen and (max-width: 425px) {
  :root {
    font-size: 14px;
  }
}
